@font-face {
    font-family: 'Jacquard12';
    src: url('../assets/fonts/Jacquard12-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fixedsys-Excelsior';
    src: url('../assets/fonts/Fixedsys-Excelsior301.ttf') format('truetype');
}
